body { background: #1baa50; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 36px; display: flex; }
.block-cache-0 { color: #38049b; font-size: 14px; margin-bottom: 5px; }
.block-shipping-1 { color: #21117e; font-size: 19px; margin-bottom: 5px; }
.block-email-2 { color: #b0bd84; font-size: 12px; margin-bottom: 5px; }
.block-shipping-3 { color: #e4d7ac; font-size: 21px; margin-bottom: 5px; }
.block-uploader-4 { color: #d59bd1; font-size: 14px; margin-bottom: 5px; }
.block-user-5 { color: #40834c; font-size: 17px; margin-bottom: 5px; }